:root {
  --grid-size: 600px;
}

.main {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 100px;
  margin: 0 auto;
  justify-content: center;
}

#function-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
  flex-shrink: 0;
}

#grid-container {
  height: var(--grid-size);
  width: var(--grid-size);
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  flex-shrink: 0;
}